@page
@model IndexModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home page";
    HttpContext context = Request.HttpContext;
}
<div class="relative isolate px-6 pt-14 lg:px-8">

    <div class="relative overflow-hidden bg-white" style="margin-top:65px;">
        <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
            <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
                <div class="sm:max-w-lg">
                    <audio src="../EmDongYIDo-DucPhucx911-9034315.mp3" controls type="audio/mp3" autoplay>
                        Trình duyệt không hỗ trợ phát âm thanh
                    </audio>
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">LibraWeb</h1>
                    <p class="mt-4 text-xl text-gray-500">Introducing LibraWeb - a powerful web-based library management application for efficient organization and seamless access to your library resources.</p>
                </div>
                <div>
                    <div class="mt-10">
                        <!-- Decorative image grid -->
                        <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
                            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                                <div class="flex items-center space-x-6 lg:space-x-8">
                                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                                            <img src="https://toquoc.mediacdn.vn/280518851207290880/2022/11/19/a3a217820copy-16687908365302061457355.jpg" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOqUoq50qyyJksehNv8NSfzVfL-ZOqk64rd5RfCRKbAbSBFK-Wx4V4pJp7vLS9hWrSkB0&usqp=CAU" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                    </div>
                                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://saigonsofa.com/Data/images/ke-sach-thu-vien-01.jpg" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://we25.vn/media2018/Img_News/2019/06/06/lo-dien-toa-do-thu-vien-song-ao-dep-nhat-singapore-buoc-1-buoc-la-chup-duoc-10-kieu-anh-12_20190606120418.jpg" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://i1-ngoisao.vnecdn.net/2018/07/12/37-1531381036.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=VxOyGXff57q4qM0RHkxu1g" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                    </div>
                                    <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-indoor-home-daytime-tables-chairs-bookshelves-library-photos-and-photos-image_789544.jpg" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                        <div class="h-64 w-44 overflow-hidden rounded-lg">
                                            <img src="https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-indoor-home-daytime-sofa-bookshelf-library-real-shot-photography-map-with-image_789578.jpg" alt="" class="h-full w-full object-cover object-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (context.Session.GetString("UserRole") == "Student" || context.Session.GetString("UserRole") == "Manager")
                        {
                            <a href="Student" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Let's Go</a>
                        }
                        else
                        {
                            <a href="Login" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Let's Go</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-gray-100" style="margin-top: 55px;">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
                <h2 class="text-2xl font-bold text-gray-900">Why should use LibraWeb ?</h2>

                <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                    <div class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-sm text-gray-500">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Enhanced Library Organization
                            </a>
                        </h3>
                        <p class="text-base font-semibold text-gray-900">Keep your library collection well-organized with advanced cataloging features, making it easy to search, categorize, and track books and other materials.</p>
                    </div>
                    <div class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-02.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-sm text-gray-500">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Streamlined Borrowing Process
                            </a>
                        </h3>
                        <p class="text-base font-semibold text-gray-900">Simplify the borrowing process for library patrons with an intuitive user interface, allowing them to easily check out, renew, and return items, and receive automated reminders for due dates.</p>
                    </div>
                    <div class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                            <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-03.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-sm text-gray-500">
                            <a href="#">
                                <span class="absolute inset-0"></span>
                                Real-time Analytics and Reporting
                            </a>
                        </h3>
                        <p class="text-base font-semibold text-gray-900">Gain valuable insights into library usage and trends with comprehensive analytics and reporting tools. Monitor circulation statistics, popular titles, and patron preferences to make data-driven decisions and improve the library's offerings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
