@page
@model ProjectPRN221.Pages.RuleModel
@{
}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="library-description mt-10">
        <h2>Library Regulations</h2>
        <p>The library is a place where knowledge and information are organized and made accessible to the public. It operates under a set of regulations and policies to ensure efficient and fair usage for all patrons. These rules are designed to maintain a peaceful and conducive environment for learning and research.</p>

        <h3>Library Card</h3>
        <p>Visitors are required to register for a library card to access borrowing materials. The library card serves as their identification and allows them to borrow books, magazines, and other materials.</p>

        <h3>Borrowing Limits</h3>
        <p>Patrons are allowed to borrow a specified number of items for a specific duration. Overdue items may incur fines, encouraging timely returns and fair distribution of resources.</p>

        <h3>Code of Conduct</h3>
        <p>Patrons are expected to maintain a respectful atmosphere by refraining from disruptive behavior such as loud conversations and cell phone usage. Handling library materials with care is also required to prevent damage.</p>

        <h3>Intellectual Freedom</h3>
        <p>The library promotes intellectual freedom and respects diverse opinions. It provides materials representing various perspectives and encourages patrons to explore different viewpoints.</p>
    </div>

</div>
